.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
#Menu
{
  padding:0;
  margin:0;
  list-style-type:none;
  font-size:13px;
  color:#717171;
  width:100%;
}

#Menu li
{
  border-bottom:1px solid #eeeeee;
  padding:7px 10px 7px 10px;
}

#Menu li:hover
{
  background-color:#ffcc00;
}
#Menu li:hover a
{
  color:White;
}


#Menu a:link
{
  color:#717171;
  text-decoration:none;
}

#Menu a:hover
{
  color:White;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
